@import "modern-normalize/modern-normalize.css";

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background: #111;
}

h1,
h2,
h3 {
  font-weight: 400;
}

.weather-app {
  min-height: 100vh;
  /* background-image: url(../images/day/cloudy.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
